.card {
  width: 540px;
}

.card__title {
  margin-top: 0;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 30px;
}

.card__list-items {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.card__list-item {
  display: flex;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
}

.card__list-divider {
  border-bottom: 1px solid;
  flex-grow: 1;
}
